.navbar {
    height: 80px;
    background-color: #1c2b35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 140px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    margin-left: 36px;
    transition: all ease-in-out .2s;
}

.navbar-logo {
    margin-left: 0 !important;
}

.navbar a:hover {
    color: #FF9900;
}

.logout-btn {
    border: 2px solid rgb(255, 48, 48, 0.553);
    color: rgb(255, 48, 48, 0.553) !important;
    padding: 8px 14px;
    border-radius: 5px;
}

.login-btn {
    border: 2px solid rgba(255, 153, 0, 0.553);
    color: rgba(255, 153, 0, 0.553) !important;
    padding: 8px 14px;
    border-radius: 5px;
}

.logout-btn:hover {
    border-color: #db0c0c;
    color: #db0c0c !important;
}

.login-btn:hover {
    border-color: #FF9900;
    color: #FF9900 !important;
}